<style>
  table {
    border-collapse: collapse;
    width: 90%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #4CAF50;
    color: black;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

  .button {
    background-color: #87CEEB;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .card-img-top {
    object-fit: cover;
    height: 250px;
    border-radius: 20px;
  }

  .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  transition: 0.3s;
  }

  .card {
  border-radius: 20px;
  }
</style>

<div class="container" style="max-width: 1430px;">
  <h1>Listings</h1>
  <div id="map" style='width: 400px; height: 300px;'>
  </div>

  <%= link_to 'New Listing', new_listing_path, class: "btn btn-info mt-3 mb-3" %>

  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="img-container">
            <% if listing.photos.attached? %>
              <%= image_tag listing.photos, class: "card-img-top" %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><strong><%= listing.name.capitalize %></strong></h5>
            <p class="card-title"><%= listing.category.capitalize %></p>
            <p class="card-text"><%= listing.description.capitalize %></p>
            <p class="card-text"><strong>$<%= listing.price %></strong> / day</p>
            <p class="card-text"><%= listing.address.capitalize %></p>
            <p class="card-text"><strong>Hosted by:</strong> <%= listing.user.username %></p>
            <div class="actions">
              <%= link_to 'Show', listing_path(listing), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>


</div>
