<style>
  table {
    border-collapse: collapse;
    width: 90%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #4CAF50;
    color: black;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

  .button {
    background-color: #87CEEB;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .card-img-top {
    object-fit: cover;
    height: 250px;
    border-radius: 20px;
  }

  .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
  transition: 0.3s;
  }

  .card {
  border-radius: 20px;
  }
</style>

<div class="container">
  <h1>Listings</h1>
  <%= form_with url: listings_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :search_brand,
    params[:search_brand],
    class: "form-control",
    placeholder: "Search by Brand"
  %>
  <%= text_field_tag :search_price,
    params[:search_price],
    class: "form-control",
    placeholder: "Search by Price, less than"
  %>
  <%= text_field_tag :search_category,
    params[:search_category],
    class: "form-control",
    placeholder: "Search by Category"
  %>
  <%= text_field_tag :search_transmission,
    params[:search_transmission],
    class: "form-control",
    placeholder: "Search by Transmission"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>


  <div data-controller="map"
        id="map"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-markers-value="<%= @markers.to_json %>"
        style='width: 100%; height: 300px;'>
  </div>

  <%= link_to 'New Listing', new_listing_path, class: "btn btn-info mt-3 mb-3" %>

  <%# check app/views/shared/_listings_cards.html.erb to edit %>
  <%# make sure @listings = Lisitng.all is defined in controller %>
  <%= render "shared/listings_cards", listings: @listings %>


</div>
