<h1>Listings</h1>
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #4CAF50;
      color: black;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    .actions {
      display: flex;
      justify-content: space-between;
    }
  </style>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Address</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.name.capitalize %></td>
        <td><%= listing.description.capitalize %></td>
        <td><%= listing.price %></td>
        <td><%= listing.address.capitalize %></td>
        <td><%= listing.user.username %></td>
        <td>
          <%= link_to 'Show', listing_path(listing) %>
          <%= link_to 'Edit', edit_listing_path(listing) %>
          <%= link_to "Delete", listing_path(listing), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
