  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="img-container">
            <% if listing.photos.attached? %>
              <%= image_tag listing.photos, class: "card-img-top" %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><strong><%= listing.name.capitalize %></strong></h5>
            <p class="card-title"><%= listing.category.capitalize %></p>
            <p class="card-text"><%= listing.description.capitalize %></p>
            <p class="card-text"><strong>$<%= listing.price %></strong> / day</p>
            <p class="card-text"><%= listing.address.capitalize %></p>
            <p class="card-text"><strong>Hosted by:</strong> <%= listing.user.username %></p>
            <div class="actions">
              <%= link_to 'Show', listing_path(listing), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
