

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/13861/IMG_3496bfree.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container hero">
    <div>
      <h1>Book a car near you & just drive in less than 5 minutes.</h1>
      <p>Rent cars from your neighborhood. Quick, easy and affordable.</p>
      <a class="btn btn-primary btn-lg" href="#">Browse Cars Near You</a>
    </div>
    <div class="col-md-5">
        <%= image_tag "homepagecar.png", alt: "a red car", height: '250', class: "align-center" %>
    </div>
  </div>
</div>

<h2 class="titles"> 3 Simple Steps To Renting A Car</h2>

<div class="container cards" >
  <div>
    <div class="card" style="width: 18rem; height: 200px;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h2 class="card-text">Convenient</h2>
        <p class="card-text">Browse cars only that are nearby you. Save time and effort to you can run your errands as soon as you can.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card" style="width: 18rem; height: 200px;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h2 class="card-text">Affordable</h2>
        <p class="card-text">Since you're renting from real people, get 30-40% cheaper prices compared to usual rentals. </p>
      </div>
    </div>
  </div>

  <div>
    <div class="card" style="width: 18rem; height: 200px;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h2 class="card-text">Many Choices</h2>
        <p class="card-text">More choices compared to other traditional rental companies.</p>
      </div>
    </div>
  </div>
</div>

<h2 class="titles"> Top-Rated Cars Available For Rent </h2>

<div class="container">
  <div class="row">
    <% @listings.each_with_index do |listing, index| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="img-container">
          <% if listing.photo.attached? %>
            <%= image_tag listing.photo, class: "card-img-top" %>
          <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= listing.name.capitalize %></h5>
            <p class="card-text"><%= listing.description.capitalize %></p>
            <p class="card-text">$<%= listing.price %> /day</p>
            <p class="card-text"><%= listing.address.capitalize %></p>
            <p class="card-text"><%= listing.user.first_name %></p>
            <div class="actions">
            <%= link_to 'Show', listing_path(listing), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>

    <% if (index + 1) % 3 == 0 %>
      </div><div class="row">
    <% end %>
  <% end %>
</div>


<div class="text-center">
  <a class="btn btn-primary btn-lg mt-4" href="#">Browse More Cars</a>
</div>
