

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/13861/IMG_3496bfree.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container hero">
    <div>
      <h1>Book a car near you & just drive in less than 5 minutes.</h1>
      <p>Rent cars from your neighborhood. Quick, easy and affordable.</p>
      <%# use link_to helper instead of <a> tag %>
      <%# <a class="btn btn-primary btn-lg" href=/listings>Browse Cars Near You</a> %>
      <%= link_to "Browse Cars Near You", listings_path, class: "btn btn-primary btn-lg" %>
    </div>
    <div class="col-md-5">
        <%= image_tag "homepagecar.png", alt: "a red car", height: '250', class: "align-center" %>
    </div>
  </div>
</div>

<h2 class="titles"> 3 Simple Steps To Renting A Car</h2>

<style>
  .card-img-top {
    object-fit: cover;
  }

  .container {
    border-radius: 10px;
  }
</style>

<div class="container cards d-flex justify-content-around">
  <div>
<<<<<<< HEAD
    <div class="card" style="width: 18rem; height: 200px;">
      <i class="fa-solid fa-money-bill-1"></i>
=======
    <div class="card" style="width: 300px; height: 350px;">
      <img class="card-img-top" src="https://res.cloudinary.com/dbmur41un/image/upload/v1678509010/homepage2_m41xl7.jpg" alt="Card image cap" style="height: 200px">
>>>>>>> master
      <div class="card-body">
        <h2 class="card-text">Convenient</h2>
        <p class="card-text">Browse cars only that are nearby you. Save time and effort to you can run your errands as soon as you can.</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card" style="width: 300px; height: 350px;">
      <img class="card-img-top" src="https://res.cloudinary.com/dbmur41un/image/upload/v1678509010/homepage3_hrizqh.jpg" alt="Card image cap" style="height: 200px">
      <div class="card-body">
        <h2 class="card-text">Affordable</h2>
        <p class="card-text">Since you're renting from real people, get 30-40% cheaper prices compared to usual rentals. </p>
      </div>
    </div>
  </div>

  <div>
    <div class="card" style="width: 300px; height: 350px;">
      <img class="card-img-top" src="https://res.cloudinary.com/dbmur41un/image/upload/v1677920416/bzeevft501zw77kt40v6lftj96ly.jpg" alt="Card image cap" style="height: 200px">
      <div class="card-body">
        <h2 class="card-text">Many Choices</h2>
        <p class="card-text">More choices compared to other traditional rental companies.</p>
      </div>
    </div>
  </div>
</div>

<h2 class="titles"> Top-Rated Cars Available For Rent </h2>

<div class="container">
  <div class="row">
    <% @listings.each_with_index do |listing, index| %>
      <div class="col-md-4">
        <div class="card mb-4 card-trip">
          <div class="img-container trip-image">
            <% if listing.photos.attached? %>
              <%= image_tag listing.photos, class: "card-img-top" %>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= listing.category.to_s.capitalize %></h5>
            <p class="card-text"><%= listing.description.capitalize %></p>
            <p class="card-text">$<%= listing.price %> /day</p>
            <p class="card-text"><%= listing.address.capitalize %></p>
            <p class="card-text"><%= listing.user.first_name %></p>
            <div class="actions">
              <%= link_to 'Show', listing_path(listing), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>

<div class="card-trip">
  <img class="trip-image" src="https://www.intrepidtravel.com/adventures/wp-content/uploads/2019/05/Intrepid-Travel-borneo_mt-kinabalu_female-pax.jpg">
  <div class="trip-bottom">
    <div class="trip-left">
      <h2>Explore and conquer Mt. Kinabalu</h2>
      <p>Tallest mountain in Malaysia and it's summit sits at 4.1KM above sea level.</p>
      <p>What the hell?</p>
    </div>
    <div class="trip-right">S$710</div>
  </div>
  <img class="mini-avatar" src="https://kitt.lewagon.com/placeholder/users/krokrob">
</div>

<br>


<div class="text-center">
  <%# use link_to helper instead of <a> tag %>
  <%# <a class="btn btn-primary btn-lg mt-4" href="/lisitngs">Browse More Cars</a> %>
  <%= link_to "Browse Cars Near You", listings_path, class: "btn btn-primary btn-lg" %>

</div>
